
<!--
<p>{{ error }}</p>
<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>
<a href="{% url 'logout' %}">Back</a>

-->

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Child login</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	

		<!-- STYLE CSS -->
		<link rel="stylesheet" href="css/styleChildLogin.css">
	</head>

	<body>

		<div class="wrapper" style="background-image: url('http://placehold.it/1400x940');">
			<div class="inner">
				<div class="image-holder">
					<img src="http://placehold.it/450x550" alt="">
				</div>
				<form action="" method="POST">
					{% csrf_token %}
					<h3>Child login</h3>

					<div class="form-wrapper">
							<input type="text" name="family_username" class="form-control" placeholder="Family username *"  />
					</div>

					<div class="form-wrapper">
							<input type="password" name="family_easy_password" class="form-control" placeholder="Family password *" />
					</div>

					<button type="submit">Login
						<i class="zmdi zmdi-arrow-right"></i>
					</button>
					
					<div class="form-group">

							<a href="{% url 'logout' %}" role="button">Back</a>
					</div>
				</form>
			</div>
		</div>
		
	</body>
</html>