{% extends 'base.html' %}



{% block content %}

<div class="container-fluid">

  <div class="row">
    <div class="col-sm col-md-4 col-lg-3">
        <a href="{% url 'task-add' %}?id=123" class="card m-4 text-center">
            <div class="card-block">
                <h4 class="card-title m-5">Add children</h4>
            </div>
        </a>
    </div>
    <div class="col-sm col-md-4 col-lg-3">
        <a href="{% url 'task-add' %}" class="card m-4 text-center">
            <div class="card-block">
                <h4 class="card-title m-5">Add task</h4>
            </div>
        </a>
    </div>
    <div class="col-sm col-md-4 col-lg-3">
        <a href="{% url 'task-display' %}" class="card m-4 text-center">
            <div class="card-block">
                <h4 class="card-title m-5">View tasks</h4>
            </div>
        </a>
    </div>
    </div>
  </div>

  <div class="row">
    <a class="btn btn-primary m-5" href="{% url 'logout' %}">Logout</a>
  </div>
{% endblock %}