{% extends 'base.html' %}

{% block content %}
<div class="page">
  <div class="btn-box">
      <a class="btn btn-primary" href="{% url 'family-register' %}" role="button">Family register</a>
      <a class="btn btn-primary" href="{% url 'parent-login' %}" role="button">Parent login</a>
      <a class="btn btn-primary" href="{% url 'child-login' %}" role="button">Children login</a>
  </div>
  <!--
  <div class="row justify-content-center my-3">
    <a class="btn btn-primary w-25" href="{% url 'family-register' %}">Family Register</a>
  </div>
  <div class="row justify-content-center my-3">
    <a class="btn btn-primary w-25" href="{% url 'parent-login' %}">Parent Login</a>
  </div>
  <div class="row justify-content-center my-3">
    <a class="btn btn-primary w-25" href="{% url 'child-login' %}">Children Login</a>
  </div>
  -->
</div>
{% endblock %}
