<!--
<p>{{ error }}</p>
<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>
-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Parent register</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	

		<!-- STYLE CSS -->
		<link rel="stylesheet" href="css/styleParentRegister.css">
	</head>

	<body>

		<div class="wrapper" style="background-image: url('http://placehold.it/1400x940');">
			<div class="inner">
				<div class="image-holder">
					<img src="http://placehold.it/450x550" alt="">
				</div>
				<form action="" method="POST">
					{% csrf_token %}
					<h3>Parent register</h3>

					<div class="form-wrapper">
							<input type="text" name="parent_name" class="form-control" placeholder="Parent name *"  />
					</div>

					<button type="submit">Register
						<i class="zmdi zmdi-arrow-right"></i>
					</button>
							
				</form>
			</div>
		</div>
		
	</body>
</html>