<!--
<p>{{ error }}</p>
<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>
-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>Parent login</title>
</head>
<body>
                
        <div class="container login-container text-center col-md-2 " id="loginbox">
                    <div class="row">
                        <div class="col-md-12 login-form-1">
                            <h3>Parent login</h3>
                            <form action="" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" name="family_username" class="form-control" placeholder="Family username *"  />
                                </div>

                                <div class="form-group">
                                    <input type="text" name="family_parent" class="form-control" placeholder="Parnet name *"  />
                                    
                                </div>

                                <div class="form-group">
                                        <input type="password" name="family_password" class="form-control" placeholder="Family password *" />
                                </div>

                                <div class="form-group">
                                        <input type="submit" class="btnSubmit" value="Login" />
                                </div>
                                
                                <div class="form-group">
                                        <a href="{% url 'logout' %}">Back</a>
                                </div>
                                
                            </form>
                        </div>
                    </div>
        </div>
</body>
</html>