
<!--
<p>{{ family }}</p>
{% for task in tasks %}
<a href="{% url 'complete-task' task.id %}">{{ task.task_name }}</a>
<br>
{% endfor %}
<br>
<a href="{% url 'logout' %}">Logout</a>

{% load static %}
-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Responsive vertical menu navigation</title>
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:700, 600,500,400,300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
		<link rel="stylesheet" href="{% static 'familytodo/main.css' %}">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
		<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
		
		<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/data.js"></script>
		<script src="{% static 'familytodo/main.js' %}"></script>

	</head>
	<body>

	<div class="side-nav">
			<div class="logo">
				<i class="fa fa-tachometer"></i>
				<span>{{ family }}</span>
		</div>
			<nav>
				<ul>
					<li>
						<a href="{% url 'task-display' %}">
							<span><i class="fa fa-user"></i></span>
                            <span>Tasks</span>
                            
						</a>
					</li>


					<li>
						<a href="{% url 'logout' %}">
							<span><i class="fa fa-sign-out" aria-hidden="true"></i></span>
							<span>Logout</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
		<!--POLJE Z VSEBINO-->
		<div class="main-content">
			<div class="title">
                Tasks
                
            </div>
             <!--MALU DIZAJN POPRAVIT DA SO LEPŠE IZPISANI TASKI-->
			 <div class="container ">
			 <form method="POST">
			 		{% csrf_token %}
					<h3>Child:</h3>
					<div class="form_group">
					{{ child_form.child_name }}
					</div>
					<div class="form-group">
							<input type="submit" class="btn btn-success" value="Select" />
					</div>
				</form>
			 </div>
             <div id="Task-display" class="container-fluid">

				<div class="row">
					{% for task in tasks %}
					<div class="col-sm col-md-4 col-lg-3">
					<div class="card m-2 ">
						<div class="card-body">
							<h3 class="card-title">{{ task.task_name }}</h3>
							<h6 class="card-subtitle mb-2 text-muted">{{ task.task_importance }}</h6>
							<p class="card-text">Reward: {{ task.task_reward }}<br>
							Due in: {{ task.task_due }} days<br>
							Child: {{ task.task_child }}<br>
							{% if task.task_complete == True %}
								Completed: <i class="fa fa-check-square-o"></i>  
							{% else %}
								Completed: <i class="fa fa-square-o"></i>  
							{% endif %} </p>
							<a href="{% url 'complete-task' task.id %}" class="card-link">Complete</a>
						</div>
					</div>
					</div>
					{% endfor %}
				</div>
			</div>

			<!--
			<div class="main">
				<div class="widget">
					<div class="title">Number of views</div>
					<div class="chart"></div>
				</div>
				<div class="widget">
					<div class="title">Number of likes</div>
					<div class="chart"></div>
				</div>
				<div class="widget">
					<div class="title">Number of comments</div>
					<div class="chart"></div>
				</div>

			</div>
			-->

			

		</div>
	</div>


	</body>
</html>
