<!--
<p>{{ error }}</p>
<p>{{ family }}</p>
<p>{{ parent }}</p>
<form action="" method="POST">
    {% csrf_token %}
    {{ task_form.as_p }}
    <input type="submit" value="Add/Save task">
</form>
<form action="" method="POST">
    {% csrf_token %}
    {{ child_form.as_p }}
    <input type="submit" value="Add child">
</form>
{% for task in tasks %}
<a href="{% url 'task-edit' task.id %}">{{ task.task_name }}</a>
<br>
{% endfor %}
<br>
<a href="{% url 'complete-delete' %}">Delete completed tasks</a>
<br>
<a href="{% url 'logout' %}">Logout</a>
-->
{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Responsive vertical menu navigation</title>
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:700, 600,500,400,300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
		<link rel="stylesheet" href="{% static 'familytodo/main.css' %}">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/data.js"></script>
		<script src="{% static 'familytodo/main.js' %}"></script>

	</head>
	<body>

	<div class="side-nav">
			<div class="logo">
				<i class="fa fa-tachometer"></i>
				<span>{{ family }}</span>
		</div>
			<nav>
				<ul>
                    <li>
                            <a href="#">
                            <span><i class="fa fa-user"></i></span>
							<span>Parent: {{ parent }}</span>

                    </li>
					<li>
						<a href="#">
							<span><i class="fa fa-tasks"></i></span>
							<span>Tasks</span>
						</a>
					</li>

					<li>
							<a href="" data-toggle="modal" data-target="#myModal1">
								<span><i class="fa fa-user"></i></span>
								<span >Add Child</span>
							</a>
                    </li>
                    
                    <li>
                        <a href="{% url 'complete-delete' %}">
                        <span><i class="fa fa-remove" aria-hidden="true"></i></span>
						<span>Delete tasks</span>    
                    </li>

					<li>
						<a href="{% url 'logout' %}">
							<span><i class="fa fa-sign-out" aria-hidden="true"></i></span>
							<span>Logout</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
		<!--POLJE Z VSEBINO-->
		<div class="main-content">
			<div class="title">
				Tasks
            </div>
            
             <!--MALU DIZAJN POPRAVIT DA SO LEPŠE IZPISANI TASKI-->
            {% for task in tasks %}
                <div>
                    <a href="{% url 'complete-task' task.id %}">{{ task.task_name }}</a>
                    <br>
                </div>        
            {% endfor %}

			<div class="outside" >
					<div class="inside">
						<button type="button" class="btn btn-success btn-circle  btn-xl" data-toggle="modal" data-target="#myModal" ><i class="glyphicon">+</i></button>
					</div>
			</div>

		<!-- Modal-->
				<div class="modal fade" id="myModal" role="dialog">
					<div class="modal-dialog">

					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Add task</h4>
						</div>
						<div class="modal-body">


							<form action="" method="POST">
								{% csrf_token %}
								<div class="form-group">
									<input type="text" name="task_name" class="form-control" placeholder="Task name"  />
								</div>

								<div class="form-group">
									<label for="sel1">Task importance:</label>
									<select class="form-control" id="sel1" name="task_importance">
										<option>High</option>
										<option>Medium</option>
										<option>Low</option>
									</select>
								</div>

								<div class="form-group">
										<input type="text" name="task_reward" class="form-control" placeholder="Task reward"  />
								</div>

								<div class="form-group">
									<input type="number" min="1" step="1" name="task_due" class="form-control" placeholder="Task due days"  />
								</div>

								<div class="form-group">
                                      <!--  <input type="text" name="task_child" class="form-control" placeholder="Child"  /> -->
                                        <select class="form-control" name="task_child">
                                            <option ></option>
                                        
                                    <!--TLE RABI SASMU PO NASTALIH otrokih iterirat da imamo možnost izbire sam nism vedu kako po otrokih iterirat ku po taskih zgorej :D-->
                                        {% for child in child_form %}
                                        <option >{{ child.task_child }} </option>
                                        <br>
                                        {% endfor %}
                                        </select>
								</div>

								<div class="form-group">
									<input type="submit" class="btn btn-success" value="Add task" />
								</div>


							</form>

							<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
					</div>

				</div>

		</div>
	</div>

	<!-- DODAJANJE OTROKA -->
	<div id="myModal1" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Add Child</h4>
		</div>
		<div class="modal-body">
				<form action="" method="POST">
                   
						{% csrf_token %}
						<div class="form-group">
							<input type="text" name="child_name" class="form-control" placeholder="Child name"  />
						</div>

						<div class="form-group">
							<input type="submit" class="btn btn-success" value="Add child" />
                        </div>
                            
                    
				</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
		</div>

	</div>
	</div>



	</body>
</html>
