{% extends 'base.html' %}

{# add back to control pannel to navbar on all sites #}
{% block navbar %}
<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'control-panel' %}">Control panel</a>
  </li>
</ul>
{% endblock %}

{% block content %}

<div id="Task-display" class="container-fluid">

  <div class="row">
    {% for task in tasks %}
    <div class="col-sm col-md-4 col-lg-3">
      <div class="card m-2 text-center">
        <h3 class="card-title">{{ task.task_name }}</h3>
        <h6 class="card-subtitle mb-2 text-muted">{{ task.task_importance }}</h6>
        <p class="card-text">Reward: {{ task.task_reward }}</p>
        <p class="card-text">Due in: {{ task.task_due }} days</p>
        <p class="card-text">Child: {{ task.task_child }}</p>
        <a href="{% url 'task-edit' task.id %}" onclick="switchTab(event,'Add-task')">{{ task.task_name }}</a>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
