{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Nadzorna plosca</title>

		<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'todo/bs/css/flatly.min.css' %}" />
		<link rel="stylesheet" href="{% static 'todo/styles.css' %}" />
		<style>
      ul {list-style:none}
    </style>
	</head>
	<body>

		<div class="container-fluid" id="wrapper">

			<div class="row">
				<div class="col-lg-4 col-lg-offset-4" id="content">
					<center>
					<H1>Welcome {{ family }}</H1>
				  </center>
					<H2>SELECT IMPORTANCE, KID AND ADD TASK</H2>
					<hr>
					<form action="{% url 'add' family %}" method="POST" role="form">
						{% csrf_token %}
						<div class="form-group">
							<center>
							<table style="width:50%">
  							<tr>
									<th>{{ form.importance }}</th>
    							<th>
										<select name="otrok">
											{% for k in kids %}
												<option value={{ k }}>{{ k }}</option>
												{% endfor %}
										</select>
								  </th>
  							</tr>
							</table>
							<hr>
							</center>
							<div class="input-group">
							  {{ form.text }}
							  <span class="input-group-btn">
								  <button type="submit" class="btn btn-default" id="add-btn">ADD</button>
							  </span>
							</div>
						</div>
					</form>
					<div class="row t10">
						<div class="col-lg-12">
							<div class="btn-toolbar">
								<div class="btn-group">
									<a href="{% url 'deletecomplete' %}"><button type="button" class="btn btn-warning">
										<i class="glyphicon glyphicon-trash"></i> DELETE COMPLETED
									</button></a>
								</div>
								<div class="btn-group">
									<a href="{% url 'deleteall' %}"><button type="button" class="btn btn-warning">
										<i class="glyphicon glyphicon-trash"></i> DELETE ALL
									</button></a>
								</div>
							</div>
						</div>
					</div>

					<ul class="list-group t20">
						{% for todo in todo_list %}
							{% if todo.complete %}
							<li class="list-group-item todo-completed">{{ todo.text }}</li>
							{% else %}
								{% if todo.nujnost == "3" %}
									<a href="{% url 'complete' todo.id %}"><li class="list-group-item"><font color="#ff5050">{{ todo.text }}</font></li></a>
								{% endif %}
								{% if todo.nujnost == "2" %}
									<a href="{% url 'complete' todo.id %}"><li class="list-group-item"><font color="#ff9933">{{ todo.text }}</font></li></a>
								{% endif %}
								{% if todo.nujnost == "1" %}
									<a href="{% url 'complete' todo.id %}"><li class="list-group-item"><font color="#b3b300">{{ todo.text }}</font></li></a>
								{% endif %}
							{% endif %}
						{% endfor %}
					</ul>
					<H2>ADD KID</H2>
					<form action="{% url 'add' family %}" method="POST" role="form">
						{% csrf_token %}
						<div class="form-group">
							<div class="input-group">
							  {{ kid.name }}
							  <span class="input-group-btn">
								  <button type="submit" class="btn btn-default" id="add-btn">ADD</button>
							  </span>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
