{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Opravila za otroke</title>

		<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'todo/bs/css/flatly.min.css' %}" />
		<link rel="stylesheet" href="{% static 'todo/styles.css' %}" />
	</head>
	<body>

		<div class="container-fluid" id="wrapper">
			<div class="row">
				<div class="col-lg-4 col-lg-offset-4" id="content">
					<center>
					<H1>{{ family }}</H1>
        </center>
				<H2>Če si opravil katero od opravil, preprosto klikni nanj.</H2>
					<ul class="list-group t20">
						{% for id,text,ime,nujnost,complete in seznam %}
							{% if complete %}
							<li class="list-group-item" style="background:#66ff66">{{ text }} &#10004;</li>
							{% else %}
								{% if nujnost == '3' %}
									<a href="{% url 'complete' id %} "><li class="list-group-item"  style="background:#ff5050"><b>{{ ime }}</b> &#10132; <b>{{ text }} &#10071;&#10071;</b></li></a>
								{% endif %}
								{% if nujnost == '2' %}
									<a href="{% url 'complete' id %} "><li class="list-group-item"  style="background:#ff9933"><b>{{ ime }}</b> &#10132; <b>{{ text }} &#10071;&#10071;</b></li></a>
								{% endif %}
								{% if nujnost == '1' %}
									<a href="{% url 'complete' id %}"><li class="list-group-item"  style="background:#ffff66"><b>{{ ime }}</b> &#10132; <b>{{ text }} &#10071;&#10071;</b></li></a>
								{% endif %}
							{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
