@import url('https://fonts.googleapis.com/css?family=Spectral');

html, body{
  height:100%;
  width: 100%;
  margin: 0;
  font-family: Spectral, sans-serif;
  background-color: #eeeeee;
}

.nav-color{
  background-color: #dddddd;
}

.btn-primary{
  font-size: 130%;
}

.page{
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabbed-content{
  margin: auto;
}

.btn-box{
  margin: auto;
}

.btn-box a{
  display: block;
  padding: 1em 3em;
  margin: 2em;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  margin: auto;
}

/* Style for calendar */
.date_today{
  background-color: lightblue;
}

.ta{
  display: none;
  align-items: center;
  justify-content: center;
}

